* {
    --clr-bg: #07000d;
    --clr-fg: #ffefcf;
    --clr-spot: #ff9955;
    --clr-setoff: #0099ff;
    --clr-medium-dark: #00091f;
    --clr-medium-grey: #404040;
    --clock-size: 20vw;
    --hub-radius: 0.75vw;
}

body {
    background-image: url("../media/img_10552.png");
    color: var(--clr-fg);
    font-family: sans-serif;
}

main {
    text-align: center;
}

header, .intro {
    text-align: center;
}

.intro {
    display: inline-block;
    border: 3px ridge var(--clr-setoff);
    border-radius: 6px;
    padding: 1vw;
    font-size: 1vw;
    background-color: var(--clr-medium-dark);
    transform: rotate(0.1rad);
    animation: 1s ease-out alternate wobble;
}

.intro * {
    border: none;
}

.heading {
    color: var(--clr-setoff);
}

pre.sitename {
    font-size: 1.4vw;
    color: var(--clr-spot);
    font-family: 'Courier New', Courier, monospace;
}

h1>pre.sitename {
    letter-spacing: 0.4vw;
    font-size: 2.4vw;
    font-weight: normal;
}

pre.skew {
    transform: rotate(-0.13rad);
}

.clock {
    background-color: #121212;
    position: absolute;
    right: 6vw;
    bottom: 6vh;
    border: 6px ridge var(--clr-spot);
    border-radius: 50%;
    width: var(--clock-size);
    height: var(--clock-size);
    place-content: center;
}

.clock-face {
    display: grid;
}

.clock-numeral {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2vw;
    color: var(--clr-setoff);
}

#hub {
    position: absolute;
    width: calc(2 * var(--hub-radius));
    height: calc(2 * var(--hub-radius));
    background-color: var(--clr-medium-grey);
    border-radius: 50%;
    z-index: 512;    
    left: calc(50% - var(--hub-radius));
    top: calc(50% - var(--hub-radius));
}

.hand {
    position: absolute;
    width: 5px;
    transform-origin: top;
    left: 50%;
    top: 50%;
    grid-row: 1;
    grid-column: 1;
}

#second-hand {
    width: 2px;
    height: 212px;
    background-color: #099;
    animation: 60s steps(60, end) infinite rotate-2pi;
} 

#minute-hand {
    width: 4px;
    height: 192px;
    background-color: #ff4463;
    animation: 3600s steps(120, end) infinite rotate-2pi;
}

#hour-hand {
    width: 6px;
    height: 144px;
    background-color: #ffad69;
    animation: 43200s infinite rotate-2pi;
    transform: rotate(60deg); /* for debugging; remove for production!  */
}

@keyframes rotate-2pi {
    from {
        /* As we shifted the hands so the top is at centre of clock container,
           we need to rotate by pi to start at 12:00 
           - but actually we'll need to set the start values in Javascript from the current datetime. */
      transform: rotate(180deg);
    }
    to {
      transform: rotate(540deg);
    }
}

@keyframes wobble {
    0%, 100% {        
        transform: rotate(0.1rad) translateX(0);
        transform-origin: 50% 50%;
    }

    33% {
        transform: translateX(-2px) rotate(0.08rad);
    }
    75% {
        transform: translateX(2px) rotate(0.12rad);
    }
}