* {
    --clr-bg: #07000d;
    --clr-fg: #00ffc0;
    --clr-spot: #ff4463;
    --clr-setoff: #0076ff;
    --clr-medium-grey: #121212;
    --clr-3: #00ffc0;
    --clock-size: 16vw;
    --hub-radius: 0.75vw;
    --drift-duration: 6s;
    --second: 1s;
    --minute: 60s;
    --hour: 3600s;
}

body {
    background-image: url("../media/img_10552_new-colours_00.png");
    color: var(--clr-fg);
    font-family: sans-serif;
    animation: 120s infinite forwards ease-in-out background-flow;
}

main {
    text-align: center;
}

header, .intro {
    text-align: center;
}

header {
    text-shadow: 1px 1px #820016, 2px 2px #820016, 3px 3px #820016;
    animation: 1s calc(var(--drift-duration) + 1s) ease-out alternate bulge;
}

.intro {
    display: inline-block;
    border: 3px ridge var(--clr-setoff);
    border-radius: 6px;
    padding: 1vw;
    font-size: 1vw;
    background-color: var(--clr-medium-grey);
    box-shadow: 16px 16px 16px var(--clr-medium-grey);
    transform: rotate(0.1rad);
    animation: 1s var(--drift-duration) ease-out alternate wobble;
}

.intro * {
    border: none;
}

.heading {
    color: var(--clr-spot);
    font-weight: normal;
}

pre.sitename {
    font-size: 1.4vw;
    color: var(--clr-spot);
    font-family: 'Courier New', Courier, monospace;
}

h1>pre.sitename {
    letter-spacing: 0.4vw;
    font-size: 2.4vw;
    font-weight: normal;
    color: var(--clr-3);
}

pre.skew {
    transform: rotate(-0.13rad);
}

.clock {
    background-color: #121212;
    position: absolute;
    right: 6vw;
    bottom: 6vh;
    border: 6px ridge var(--clr-spot);
    border-radius: 50%;
    box-shadow: 10px 10px 10px var(--clr-medium-grey);
    width: var(--clock-size);
    height: var(--clock-size);
    place-content: center;
    animation: var(--drift-duration) 1 normal forwards drift-up;
    z-index: -1;
}

.clock-face {
    display: grid;
    justify-items: center;
    align-items: end;
}

.clock-numeral {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2vw;
    color: var(--clr-setoff);
}

#hub {
    position: absolute;
    width: calc(2 * var(--hub-radius));
    height: calc(2 * var(--hub-radius));
    background-color: var(--clr-setoff);
    border-radius: 50%;
    z-index: 512;    
    left: calc(50% - var(--hub-radius));
    top: calc(50% - var(--hub-radius));
}

.hand {
    position: absolute;
    width: 5px;
    transform-origin: bottom;
    bottom: 50%;
    grid-row: 1;
    grid-column: 1;
}

#second-hand {
    width: 2px;
    height: calc(var(--clock-size) * 0.4);
    background-color: var(--clr-3);
    animation: 60s steps(60, end) infinite rotate-2pi;
} 

#minute-hand {
    width: 4px;
    height: calc(var(--clock-size) * 0.39);
    background-color: #ff4463;
    animation: 3600s --600s infinite linear rotate-2pi;
}

#hour-hand {
    --hour: -21600s;
    width: 6px;
    height: calc(var(--clock-size) * 0.3);
    background-color: var(--clr-spot);
    animation: 43200s -18000s infinite linear rotate-2pi; /* var(--hour)  */
    /* transform: rotate(0deg); for debugging; remove for production!  */
}

@keyframes rotate-2pi {
    from {
        /* As we shifted the hands so the top is at centre of clock container,
           we need to rotate by pi to start at 12:00 
           - but actually we'll need to set the start values in Javascript from the current datetime. */
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes wobble {
    0%, 100% {        
        transform: rotate(0.1rad) translateX(0);
        transform-origin: 50% 50%;
    }
    33% {
        transform: translateX(-2px) rotate(0.08rad);
    }
    75% {
        transform: translateX(2px) rotate(0.12rad);
    }
}

@keyframes drift-up {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-72vw, -27vw);
    }
}



@keyframes bulge {
    0% {
        transform: scale(1.00);
    }
    50% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1.00);
    }
}

@keyframes background-flow {
    50% {background-position: center;}

    0% {
        background-position: 0 0
    }
    50% {
        background-position: 32768 32768
    }
    100% {
        background-position: 65536 65536
    }
  }